@import 'https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700;800&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";
@import "layout";
@import './css/sections/media.scss';
@import "./css/sections/hero.scss";
@import "./css/sections/header.scss";
@import "./css/sections/features.scss";
@import './css/sections/feature.scss';
@import './css/sections/section.scss';
@import './css/sections/headline.scss';
@import "./css/sections/benefits.scss";
@import "./css/sections/benefit.scss";
@import "./css/sections/reviews.scss";
@import "./css/sections/interactive-avatar.scss";
@import './css/sections/orders.scss';
@import './css/sections/form.scss';
@import './css/sections/radio.scss';
@import './css/sections/fixed-menu.scss';
@import './css/sections/map-section.scss';
@import './css/sections/hamburger.scss';
.btn{
  outline: none;
  font-size: 16px;
  font-weight: 800;
  color: $white;
  border: $red solid 2px;
  border-radius: 35px;
  text-transform: uppercase;
  background: $red;
  text-decoration: none;
  padding: rem(17px) rem(40px);
  font-family:'Play';
}
.btn:hover{
  background: #CA1B36;
  color: $white;
  border-color: #CA1B36;
  transition: .3s;
}

.btn--margin{
  margin-right: 20px;
}

.btn--theme--clear{
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-family:'Play';
  background: none;
  border:none;
  border-color: none;
}
.btn--theme--clear:hover{
  background: none;
  border:none;
  border-color: none;
}

html{
  font-size: $baseFontSize;

  @include tablets{
    font-size: $baseFontSize - 1px;
  }
  
  @include phones{
    font-size: $baseFontSize - 2px;
  }
}