.icon-phone {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  fill: black;
}

.icon-icons {
  width: 41px;
  height: 41px;
  margin-right: 11px;
  fill: black;
}

.icon-feat {
  width: 70px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  fill: black;
}

.socials-icons {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #b3b3b3;
}
.socials-icons:hover {
  fill: #000;
}
.socials-icons:last-child {
  margin-right: 0;
}