.icon-phone{
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.icon-icons{
  width: 41px;
  height: 41px;
  margin-right: 11px;
}


.icon-feat{
  width: 70px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.why-icons{
  y:2px;
}